.main-territory {

    --slide-content-width: 280px;

    margin-bottom: 100px;

    @include screen(1199) {
        margin-bottom: 80px;
    }
    @include screen(991) {
        margin-bottom: 60px;
    }
    @include screen(768) {
        margin-bottom: 30px;
    }

    
    // &__header {
    //     padding-bottom: 40px;
    //     font-size: 36px;
    //     text-transform: uppercase;
    //     text-align: center;

    //     &-title {
    //         font-size: 36px;
    //     }

    //     @include screen(1199) {
    //         padding-bottom: 30px;

    //         &-title {
    //             font-size: 34px;
    //         }  
    //     }
    //     @include screen(991) {
    //         padding-bottom: 20px;

    //         &-title {
    //             font-size: 30px;
    //         }  
    //     }
    //     @include screen(768) {
    //         padding-bottom: 10px;

    //         &-title {
    //             font-size: 24px;
    //         }  
    //     }
    // }    

    &__description {
        @extend %outer; 
        @extend %wrapper; 
        padding-bottom: 40px;
        font-size: 18px;
        line-height: 150%;
        color: $light-font-color;

        @include screen(768) {
            padding-bottom: 30px;
        }
    }


    &__slide {
        position: relative;
        padding: 0 20px;
        // overflow: hidden;

        &-wrapper {
            @extend %wrapper;
            @include flex(row,sb);

            @include screen(768) {
                flex-direction: column;
            }
        }

        &-content {
            width: var(--slide-content-width);
            height: 650px;
            color: $light-font-color;

            @include screen(1199) {
                height: 50vw;
            }
            @include screen(768) {
                width: 100%;
                height: auto;
            }
        }

        &-controls {
            @include flex(row,sb);

            margin-bottom: 70px;
            font-size: 24px;

            @include screen(768) {
                margin-bottom: 20px;
            }

            .icon-btn svg{
                stroke: transparent;
                fill: $bg-color;
            }

            &-buttons {
                @include flex();
            }

            &-btn {
                @include transition(opacity);

                width: 30px;
                height: 30px;
                padding: 3px;
                background-color: $link-color;

                &:hover {
                    opacity: .7;
                }
            }

        }

        &-title {
            margin-bottom: 20px;
            font-size: 24px;
            color: $main-font-color;
        }

        &-description-text {
            font-size: 18px;
        }

        &-photo {
            position: absolute;
            width: calc( (100% - 1180px)/2 + 1180px - var(--slide-content-width) - 20px ); // 20px - for gap
            height: 650px;
            right: 0;
            top: 0;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;

            @include screen(1199) {
                width: calc( 100%  - var(--slide-content-width) - 40px ); // 40px - for gap
                height: 50vw;
                min-height: 100%;
            }

            @include screen(768) {
                position: relative;
                width: calc(100% + 40px);
                height: 50vw;
                min-height: 320px;
                margin: 0 -20px;
            }
        }
    }

    &__progress-bar {
        position: absolute;
        width: calc( (100% - 1180px)/2 + 1180px - var(--slide-content-width) - 20px ); // == photo width
        right: 0;
        bottom: 0;

        @include screen(1199) {
            width: calc( 100%  - var(--slide-content-width) - 40px ); // 40px - for gap
            top: 50vw;
            bottom: unset;

        }

        @include screen(768) {
            display: none;
        }
    }
}