.thumbs {
    @include flex(row);
    position: absolute;
    width: 340px;
    height: 120px;
    right: 0;
    bottom: 20px;
    padding: 20px 40px 20px 20px;
    z-index: 10;
    background-color: rgba(0,0,0,0.3);
    
    &-item.swiper-slide {
        @include transition(filter);
        min-width: 80px;
        width: 80px;
        height: 80px;
        background-position: center;
        background-size: cover;
        opacity: .7;
        
        cursor: pointer;

        // для слайдера territory на главной
        // из-за fade перехода видимо:
        // pointer-events: initial !important;

        &:hover {
            filter: brightness(1.1);
        }

        &.active {
            opacity: 1;
            border: 2px solid $bg-color;
        }
    }

    @include screen(768) {

        width: 230px;
        height: 80px;
        right: 0;
        bottom: 0;
        padding: 10px 30px 10px 10px;
        z-index: 10;
        background-color: rgba(0,0,0,0.3);
        
        &-item.swiper-slide {
            @include transition(filter);
            min-width: 60px;
            width: 60px;
            height: 60px;
            // margin-right: 10px;
            background-position: center;
            background-size: cover;
            cursor: pointer;
        }
    }
}