.header {

    $header-height: 110px;

    @extend %outer;
    height: $header-height;

    background-color: $bg-color;

    @include screen(768) {
        display: none;
    }

    &__wrapper {
        @extend %wrapper;
        @include flex(col,s,s);
        position: relative;
        height: 100%;
        padding: 10px 0 0;
    }

    &__title {
        width: 180px;
        padding-left: 80px;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 2px;

    }

    &__ministery {
        position: absolute;
        padding-top: 10px;
        right: 220px;
        top: 0;

        @include screen(991) {
            right: 25%;
        }

    }


    &__logo {
        @include flex(row,fs,c);
        position: absolute;
        // width: 210px;
        top: 5px;
        left: 0%;

        &-img {
            width: 60px;
            height: 60px;
        }
    }

    &__nav {
        @include flex(row,fs,s);
        width: auto;
        height: 100%;
        flex-grow: 1;

    }

    &__search {
        @include flex(row,fs,c);
        position: absolute;

        right: 160px;
        top: 20px;

        @include screen(991) {
            right: 130px;
        }

        &-btn {
            width: 30px;
            height: 30px;

            &:hover {
                .icon {
                    transition-duration: .1s;
                    stroke: $link-color;
                }
            }
            
            .icon {
                transition: stroke .3s;
                stroke: $color4;
            }
        }
    }

    &__eye {
        @include transition(all);
        @include flex(row,c,c);
        position: absolute;
        right: 100px;
        top: 20px;

        @include screen(991) {
            right: 78px;
        }

        &:hover {
            .icon {
                transition-duration: .1s;
                stroke: $link-color;
            }
        }
        
        .icon {
            transition: stroke .3s;
            width: 30px;
            height: 30px;
            stroke: $color4;
        }
    }

    &__lang {
        position: absolute;
        right: 0;
        top: 27px;
    }
}