.main-territory {

    --slide-content-width: 280px;

    &__description {
        @extend %outer; 
        @extend %wrapper; 
        padding-bottom: 40px;
        font-size: 18px;
        line-height: 150%;
        color: $light-font-color;

        @include screen(768) {
            padding-bottom: 30px;
        }
    }


    &__slide {
        position: relative;
        padding: 0 20px;

        // &-author {
        //     color: $light-font-color;

        // }

        &-wrapper {
            @extend %wrapper;
            @include flex(row,sb);

            @include screen(768) {
                flex-direction: column;
            }
        }

        &-content {
            width: var(--slide-content-width);
            height: 650px;
            color: $light-font-color;

            @include screen(1199) {
                height: 60vw;
            }
            @include screen(768) {
                width: 100%;
                height: auto;
            }
        }

        &-controls {
            @include flex(row,sb);

            margin-bottom: 70px;
            font-size: 24px;

            @include screen(768) {
                margin-bottom: 20px;
            }

            .icon-btn svg{
                stroke: transparent;
                fill: $bg-color;
            }

            &-buttons {
                @include flex();
            }

            &-btn {
                @include transition(opacity);

                width: 30px;
                height: 30px;
                padding: 3px;
                background-color: $link-color;

                &:hover {
                    opacity: .7;
                }
            }
        }

        &-title {
            margin-bottom: 20px;
            font-size: 24px;
            color: $main-font-color;
        }

        &-description-text {
            font-size: 18px;
        }

        &-photo {
            width: 100%;
            height: 650px;

            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;

            @include screen(1199) {
                height: 60vw;
                // min-height: 100%;
            }            
        }
    }



    &__inner-slider {

        position: absolute;
        width: calc( (100% - 1180px)/2 + 1180px - var(--slide-content-width) - 20px ); // 20px - for gap
        right: 0;
        top: 0;

        @include screen(1199) {
            width: calc( 100%  - var(--slide-content-width) - 40px ); // 40px - for gap
            height: 60vw;
            min-height: 100%;
        }

        @include screen(768) {
            position: relative;
            width: calc(100% + 40px);
            height: 50vw;
            min-height: 320px;
            margin: 0 -20px;
        }

        .swiper-inner-slide {
            @extend .swiper-slide;
            position: relative;
        }
    }

    &__slide {
        position: relative;
        &-author {
            position: absolute;
            left: 20px;
            bottom: 10px;
            letter-spacing: 1px;
            color: $bg-color;
            text-shadow: 0 0 2px black;
        }
    }
}