.main-gallery {

    &__wrapper {
        @extend %outer;
    } 

    &__slider {
        position: relative;

        &-btn {
            top: 240px;
            z-index: 10;

            @include screen(768) {
                display: none;
            }
        }
    }

    &__slide.swiper-slide {
        height: 580px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        @include screen(768) {

            height: 400px;
        }
        @include screen(585) {

            height: 320px;
        }
    }
}