.nav {

    height: 100%;
    
    &__list {
        @include flex(row, fs, c);
        height: 100%;
        font: $roboto-18;
        line-height: 150%;
    }
    
    &__item {
        @include transition(color);

        position: relative;

        &:hover .nav__drop-down-btn {
            color: $link-color;
        }

    }
    
    &__link{
        &:hover {
            color: $link-color;
        }
    }

    &__link {
        display: inline-block;
        padding: 10px 10px;

    }

    &__drop-down {
        @include transition(color);
        cursor: pointer;

        &:hover .nav__drop-down-list {
            display: block;;
        }
    }
    
    &__drop-down-content {
        position: absolute;
        padding-top: 35px;
        width: 250px;
        left: 0;
        top: 35px;
        z-index: 1000;
        background-color: rgba($bg-color, .95);
    }
    
    &__drop-down-list {
        
        display: none;
        padding: 0 10px;

        box-shadow: 0 1px 2px 0 $color2;

    }

    &__drop-down-item {
        padding: 10px 0;
        border-bottom: 1px solid $theme-color;

        &:last-child {
            padding-bottom: 20px;
            border-bottom: none;
        }

        .nav__link {
            display: inline-block;
            padding: 10px 0;
        }
    }


}