footer.footer
    .footer__wrapper
        .footer__contacts
            a.footer__contacts-elem.footer__logo(href="#")
                img.footer__logo-img(src=require("../../images/footer-logo.svg"))
            a.footer__contacts-elem.footer__phone(href="#")
                svg.icon.footer__contacts-icon
                    use(href="icons/icons.svg#phone")
                span +7-921-043-09-30
            a.footer__contacts-elem.footer__address(href="#")
                svg.icon.footer__contacts-icon
                        use(href="icons/icons.svg#map-pin")
                span 182042 Мурманская область, г.&nbsp;Кандалакша,&nbsp;ул.&nbsp;Линейная,&nbsp;д.35
            a.footer__contacts-elem.footer__email(href="#")
                svg.icon.footer__contacts-icon
                        use(href="icons/icons.svg#mail")
                span kand_reserve@mail.ru


        .footer__social
            a.footer__social-elem(href="#")
                svg.icon.footer__social-icon
                    use(href="icons/icons.svg#vk")
            a.footer__social-elem(href="#")
                svg.icon.footer__social-icon
                    use(href="icons/icons.svg#twitter")
            a.footer__social-elem(href="#")
                svg.icon.footer__social-icon
                    use(href="icons/icons.svg#facebook")
            a.footer__social-elem(href="#")
                svg.icon.footer__social-icon
                    use(href="icons/icons.svg#ok")


        .footer__copyright &copy;&nbsp;
            span 2019
            span
            |
            | ФГБУ "Кандалакшский государственный природный заповедник"
