footer.footer
    .footer__wrapper
        .footer__contacts
            .footer__contacts-elem.footer__logo
                a.footer__logo-link(href="#")
                    img.footer__logo-img(src=require("../../images/footer-logo.svg"), alt="КАНДАЛАКШСКИЙ государственный заповедник")
            a.footer__contacts-elem.footer__phone(href="tel:79210430930")
                svg.icon.footer__contacts-icon
                    use(href="icons/icons.svg#phone")
                span +7-921-043-09-30
            a.footer__contacts-elem.footer__address(href="#")
                svg.icon.footer__contacts-icon
                        use(href="icons/icons.svg#map-pin")
                span 182042 Мурманская область, г.&nbsp;Кандалакша,&nbsp;ул.&nbsp;Линейная,&nbsp;д.35
            a.footer__contacts-elem.footer__email(href="mailto:kand_reserve@mail.ru")
                svg.icon.footer__contacts-icon
                        use(href="icons/icons.svg#mail")
                span kand_reserve@mail.ru


        .footer__social
            a.link-social(href="#", aria-label="vkontakte")
                svg.icon
                    use(href="icons/icons.svg#vk")
            a.link-social(href="#", aria-label="twitter")
                svg.icon
                    use(href="icons/icons.svg#twitter")
            a.link-social(href="#", aria-label="facebook")
                svg.icon
                    use(href="icons/icons.svg#facebook")
            a.link-social(href="#", aria-label="instagram")
                svg.icon
                    use(href="icons/icons.svg#instagram")
            a.link-social(href="#", aria-label="Одноклассники")
                svg.icon
                    use(href="icons/icons.svg#ok")   


        .footer__copyright &copy;&nbsp;
            span 2019
            span
            |
            | ФГБУ "Кандалакшский государственный природный заповедник"
