.FRONT_NAVIGATION(style="text-align: center; padding: 10px; max-width: 100%")
    a(href="/", style="padding: 10px; display: inline-block") MAIN
    a(href="/pages.html", style="padding: 10px; display: inline-block") PAGES
    br
    a(href="/news.html", style="padding: 10px; display: inline-block") NEWS
    a(href="/news-article.html", style="padding: 10px; display: inline-block") NEWS-ARTICLE
    br
    a(href="/gallery.html", style="padding: 10px; display: inline-block") GALLERY
    a(href="/album.html", style="padding: 10px; display: inline-block") ALBUM
    a(href="/routes.html", style="padding: 10px; display: inline-block") ROUTES
    a(href="/museum.html", style="padding: 10px; display: inline-block") MUSEUM