header.header-mobile.js-header-mobile
    .header-mobile__wrapper

        .header-mobile__hamburger.js-hamburger
            .header-mobile__hamburger-elem
            .header-mobile__hamburger-elem
            .header-mobile__hamburger-elem

        a.header-mobile__logo(href="/")
            img.header-mobile__logo-img(src=require('../../images/logo.png'), alt="Logo")
            

        //- button.header-mobile__search-btn.icon-btn(aria-label="Search")
            svg.icon
                use(href="icons/icons.svg#search")



    .header-mobile__nav.hidden.js-header-mobile-nav
        include ./nav-mobile.pug
        .header-mobile__lang
            .lang-switcher
                button.lang-switcher__btn.lang-switcher__item#ru(
                    onclick='doGTranslate("ru|ru"); return false;'
                ) RU
                span &nbsp;/&nbsp;
                button.lang-switcher__btn.lang-switcher__item#en(
                    onclick='doGTranslate("ru|en"); return false;'
                    ) EN
