section.main-slider.section
    .swiper-container
        button.main-slider__btn.left.icon-btn.slider-btn
            svg.icon
                use(href="icons/icons.svg#arr-left")
        button.main-slider__btn.right.icon-btn.slider-btn
            svg.icon
                use(href="icons/icons.svg#arr-right")
        .main-slider__progress-bar.slider-progress-bar            

        .swiper-wrapper
            each i in [1,2,3]
                .main-slider__slide.swiper-slide.js-lazy(data-bg=`url(${require('../../images/main-slider-image-1.jpg')}), radial-gradient(53.43% 53.43% at 60.55% 46.57%, rgba(0, 0, 0, 0.13) 0%, rgba(0, 0, 0, 0.67) 100%)`)
                    .main-slider__slide-wrapper
                        .main-slider__slide-info
                            .main-slider__slide-title УТКА ГАГА ОБЫКНОВЕННАЯ
                            .main-slider__slide-text Кандалакшский заповедник был создан для охраны гаги – крупной северной морской утки. Гага издавна славилась пухом, которым она утепляет свое гнездо. За счет особого строения пушинок гагачий пух является одним из лучших в мире естественных утеплителей.
                            a.main-slider__slide-link(href="#") Подробнее
                            
                        .main-slider__slide-stats
                            //- .main-slider__slide-stats-bg(style=`background-image: url(${require('../../images/main-slider-image-1.jpg')}), linear-gradient(to bottom, rgba(0, 0, 0, 0.6) , rgba(0, 0, 0, 0.6)`)
                            .main-slider__slide-stats-content
                                .main-slider__slide-stats-item
                                    .main-slider__slide-stats-title 75%
                                    .main-slider__slide-stats-text Морская акватория
                                .main-slider__slide-stats-item
                                    .main-slider__slide-stats-title 10&thinsp;000
                                    .main-slider__slide-stats-text Биологических видов
                                .main-slider__slide-stats-item
                                    .main-slider__slide-stats-title с 1932
                                    .main-slider__slide-stats-text Действует заповедник


                        .main-slider__slide-social
                            a.link-social(href="#", aria-label="vkontakte")
                                svg.icon
                                    use(href="icons/icons.svg#vk")
                            a.link-social(href="#", aria-label="twitter")
                                svg.icon
                                    use(href="icons/icons.svg#twitter")
                            a.link-social(href="#", aria-label="facebook")
                                svg.icon
                                    use(href="icons/icons.svg#facebook")
                            a.link-social(href="#", aria-label="Одноклассники")
                                svg.icon
                                    use(href="icons/icons.svg#ok")   

        