nav.nav-mobile.js-nav-mobile
    ul.nav-mobile__list.level-1
    
        each i in [1,2,3,4,5,6,7,8,9]
            li.nav-mobile__item.level-1
                a.nav-mobile__link(href="#") Категория #{i}
                .nav-mobile__drop-down-content
                    ul.nav-mobile__list.level-2

                        each j in [1,2,3,4,5,6]
                            li.nav-mobile__item.level-2
                                a.nav-mobile__link(href="#") - - Подкатегория #{j}
                                ul.nav-mobile__list.level-3

                                    each k in [1,2,3,]
                                        li.nav-mobile__item.level-3
                                            a.nav-mobile__link(href="#") - - - - Подподкатегория #{k}
