nav.nav
    ul.nav__list
        li.nav__item
            a.nav__link(href="index.html") Главная
        li.nav__item.nav__drop-down
            span.nav__drop-down-btn.nav__link Наука
            .nav__drop-down-content
                ul.nav__drop-down-list
                    li.nav__drop-down-item.nav__item
                        a.nav__link(href="#") Научные исследования
                    li.nav__drop-down-item.nav__item
                        a.nav__link(href="#") Научная библиоткека
                    li.nav__drop-down-item.nav__item
                        a.nav__link(href="#") Научный архив
                    li.nav__drop-down-item.nav__item
                        a.nav__link(href="#") Гербарий
                    li.nav__drop-down-item.nav__item
                        a.nav__link(href="#") Дендропарк
                    li.nav__drop-down-item.nav__item
                        a.nav__link(href="#") Информационные отчеты сторонних специалистов

        li.nav__item.nav__drop-down
            span.nav__drop-down-btn.nav__link О заповеднике
            .nav__drop-down-content
                ul.nav__drop-down-list
                    li.nav__drop-down-item.nav__item
                        a.nav__link(href="about.html") О нас
                    li.nav__drop-down-item.nav__item
                        a.nav__link(href="#") История
                    li.nav__drop-down-item.nav__item
                        a.nav__link(href="#") Архив
                    li.nav__drop-down-item.nav__item
                        a.nav__link(href="#") Территория
                    li.nav__drop-down-item.nav__item
                        a.nav__link(href="#") Климат и ландшафт
                    li.nav__drop-down-item.nav__item
                        a.nav__link(href="#") Море
                    li.nav__drop-down-item.nav__item
                        a.nav__link(href="#") Животные
                    li.nav__drop-down-item.nav__item
                        a.nav__link(href="#") Растения
                    li.nav__drop-down-item.nav__item
                        a.nav__link(href="#") Особо охраняемые виды
                    li.nav__drop-down-item.nav__item
                        a.nav__link(href="#") Условия жизни и работы

        li.nav__item.nav__drop-down
            span.nav__drop-down-btn.nav__link Посетителям
            .nav__drop-down-content
                ul.nav__drop-down-list
                    li.nav__drop-down-item.nav__item
                        a.nav__link(href="#") Правила посещения
                    li.nav__drop-down-item.nav__item
                        a.nav__link(href="routes.html") Маршруты
                    li.nav__drop-down-item.nav__item
                        a.nav__link(href="museum.html") Музей
                    li.nav__drop-down-item.nav__item
                        a.nav__link(href="#") Мероприятия
                    li.nav__drop-down-item.nav__item
                        a.nav__link(href="#") Эколого-просветительская деятельность
                    li.nav__drop-down-item.nav__item
                        a.nav__link(href="#") Предложения волонтерам

        li.nav__item.nav__drop-down
            span.nav__drop-down-btn.nav__link Охрана
            .nav__drop-down-content        
                ul.nav__drop-down-list
                    li.nav__drop-down-item.nav__item
                        a.nav__link(href="#") Режим и охрана территории
                    li.nav__drop-down-item.nav__item
                        a.nav__link(href="#") Карты
                    li.nav__drop-down-item.nav__item
                        a.nav__link(href="#") Кадастровая информация
                    li.nav__drop-down-item.nav__item
                        a.nav__link(href="#") Информация для судовладельцев

        li.nav__item.nav__drop-down
            span.nav__drop-down-btn.nav__link Пресс-центр
            .nav__drop-down-content
                ul.nav__drop-down-list
                    li.nav__drop-down-item.nav__item
                        a.nav__link(href="#") Новости
                    li.nav__drop-down-item.nav__item
                        a.nav__link(href="#") Опросы
                    li.nav__drop-down-item.nav__item
                        a.nav__link(href="#") Фотоматериалы
                    li.nav__drop-down-item.nav__item
                        a.nav__link(href="#") Видеоматериалы
        
        li.nav__item
            a.nav__link(href="#") Контакты
