.routes__stages

    .route-stage
        .route-stage__header
            .route-stage__number
                span.route-stage__number 01
                span.route-stage__number /
                span.route-stage__number-last 07
            .route-stage__title Сосняк-черничник
        .route-stage__feature Высота: от 3 до 65 метров над уровнем моря
        .route-stage__description
            p В зоне северотаежных лесов на беломорском побережье главное дерево – сосна, а самый распространенный тип леса - сосняки с брусничниками или черничниками. В сосняках-черничниках растительность более разнообразна, обычно это марьянники, седмичник европейский, линнея северная.
            p В травяно-кустарничковом ярусе доминируют черника миртолистная и брусника.
            p Вдоль дороги обращает на себя внимание, особенно в августе, во время цветения вереск обыкновенный. Этот кустарничек встречается он на самых бедных и сухих почвах, а секрет его выживания - симбиоз (сожительство) с грибами.
        .route-stage__cards
            .route-stage__card
                .route-stage__card-image(style=`background-image: url(${require('../../images/route-card-image-1.jpg')})`)
                .route-stage__card-title Сосняк-черничник
            .route-stage__card
                .route-stage__card-image(style=`background-image: url(${require('../../images/route-card-image-2.jpg')})`)
                .route-stage__card-title Черника
            .route-stage__card
                .route-stage__card-image(style=`background-image: url(${require('../../images/route-card-image-3.jpg')})`)
                .route-stage__card-title Вереск
