extends ../layout/layout.pug

block content
    main.main
        .bg
        //- include ../components/main-slider.pug
        //- include ../components/main-news.pug
        //- include ../components/main-territory.pug
        //- include ../components/main-gallery.pug
        //- include ../components/main-contacts.pug