extends ../layout/layout.pug

block content
    main.main
        include ../modules/main-slider.pug
        include ../modules/main-news.pug
        include ../modules/main-territory.pug
        include ../modules/main-gallery.pug