extends ../layout/layout.pug



//- СТРАНИЦА НЕ ИСПОЛЬЗУЕТСЯБ НО ПУСТЬ ПОКА БУДЕТ НА ВСЯКИЙ СЛУЧАЙ


block content
    main.news-article
        .news-article__wrapper
            h2.news-article__title.page-title ЗАГОЛОВОК НОВОСТИ
            .news-article__content
                img.news-article__image(data-src=require('../../images/news-item-1.jpg'))
                .news-article__content.custom-text
                    p С начала лета до середины осени сотрудники Кандалакшского заповедника, приглашенные специалисты и волонтеры проводят работы по кольцеванию птиц. В этом году было окольцовано свыше 8000 пернатых представителей восьмидесяти двух видов.
                    p В начале лета окольцовано большое количество птенцов серебристых чаек, больших бакланов (Баренцево море), обыкновенных гаг (Белое море). Наиболее интенсивный и интересный период работы для кольцевания в заповеднике - осенняя миграция птиц. В это время основное количество окольцованных птиц составляют воробьинообразные: пеночки-веснички, вьюрки, лесные завирушки, чижи, зяблики. Самым экзотическим для нас окольцованным видом, в этом году, стал зеленый конек, вид более характерен для Сибири, а также интересный гибрид вьюрка и зяблика.
                    p Значимым событием для людей, занимающихся кольцеванием птиц, является возврат информации из другой страны. Окольцованный нами еще в прошлом году зяблик был пойман в феврале этого года в Бельгии, где он зимовал. В апреле поступала информация о камышовой овсянке из Венгрии, эта птица тоже была окольцована еще в 2018 году. А окольцованная в сентябре этого года лесная завирушка за 19 дней добралась до Латвии, преодолев дистанцию в 1257 км. Информация о чайках поступала из Швеции и Финляндии, где эти птицы находились на пролёте. У нас же в заповеднике были пойманы и выпущены вьюрок с кольцом из Швеции и большая синица из Финляндии.
                    p Кольцевание птиц проводится для изучения направлений и сроков миграции птиц, для получения информации об изменении численности, причинах гибели, продолжительности жизни. Данные, полученные, например, при простом наблюдении, находке кольца или обнаружении погибшей окольцованной птицы, очень важны для орнитологов. Напоминаем, что информацию о прочитанных и найденных кольцах можно направить в Центр кольцевания птиц (http://ringcenter.ru/index.html).
