extends ../layout/layout.pug

block content
    main.pages
        .pages__wrapper
            h2.pages__title.page-title ЗАГОЛОВОК СТРАНИЦЫ
            .pages__content.custom-text
                p Там, где длинная и темная полярная зима сменяется коротким летом с незаходящим солнцем, где суровые берега омываются водами двух морей, Баренцевым и Белым, на более чем 550 островах расположен Кандалакшский государственный природный заповедник. Он был образован 7 сентября 1932 года для охраны гаги обыкновенной – морской утки, издавна славящейся ценными качествами гнездового пуха.
                p Территория заповедника состоит из 13 участков. Большинство участков представляют собой морские архипелаги с прилегающей акваторией. Поэтому из 78608 га его площади 74,2 % приходится на морскую акваторию, а массовыми обитателями являются морские колониальные птицы. Таким образом, Кандалакшский заповедник можно считать первым морским заповедником, образованным в России.
                p Воды Баренцева моря у берегов Мурмана подогреваются теплым течением Гольфстрим и ледовый покров зимой отсутствует, но летние температуры низкие и растительность здесь тундровая. На скалистых берегах островов образуются знаменитые птичьи базары.
                p Кандалакшский залив Белого моря зимой находится подо льдом, а лето хоть и короткое, но довольно теплое. Относительно крупные острова и побережье материка покрыты северо-таежными лесами. Но морские птицы предпочитают гнездиться на безлесных островах (лудах).
                p В 1975 г. Кандалакшский залив Белого моря в пределах Мурманской области включен в список водно-болотных угодий, имеющих международное значение в качестве местообитания водоплавающих птиц. Ответственность заповедника за сохранение и мониторинг животных и растений акватории, островов и участков побережья значительно возросла.
                p К настоящему времени на заповедной территории выявлено более 10 тысяч биологических видов, в том числе примерно 1100 видов растений, более 5000 беспозвоночных, 397 видов позвоночных животных. Среди них 229 особо охраняемых вида, включенных в региональную Красную Книгу. Это 42 % от всех краснокнижных видов Мурманской области. Биологическая значимость любой территории определяется не только биологическим разнообразием видов, но и насыщенностью ее редкими видами.
                p Кандалакшский заповедник является одним из культурных и образовательных центров российской северной орнитологической науки. Здесь начинали свою деятельность многие специалисты по морским птицам и гидробиологии.
                a(href="#") initial link

                ul
                    li item
                    li item
        .pages__photos.pages__wrapper
            button.pages__photos-btn.left.slider-btn.icon-btn
                svg.icon
                    use(href="icons/icons.svg#arr-left")
            button.pages__photos-btn.right.slider-btn.icon-btn
                svg.icon
                    use(href="icons/icons.svg#arr-right")        
            .swiper-container
                .swiper-wrapper
                    - var arr = [0,0,0,0,0,0]
                    each i in arr
                        .swiper-slide.pages__photos-image.js-open-slider(data-bg=`url(${require('../../images/album-item-1.jpg')})`)
                        .swiper-slide.pages__photos-image.js-open-slider(data-bg=`url(${require('../../images/album-item-2.jpg')})`)

        .pages__popup-slider.popup-slider.hidden
            .popup-slider__container.swiper-container
                button.popup-slider__close-btn.js-close &times;
                button.popup-slider__btn.left.slider-btn.icon-btn
                    svg.icon
                        use(href="icons/icons.svg#arr-left")
                button.popup-slider__btn.right.slider-btn.icon-btn
                    svg.icon
                        use(href="icons/icons.svg#arr-right")
                .popup-slider__wrapper.swiper-wrapper
                    - var arr = [0,0,0,0,0,0]
                    each i in arr
                        .pages__photos-item.popup-slider__slide.swiper-slide
                            img.popup-slider__image(data-src=`${require('../../images/album-item-1.jpg')}`, alt="Photo")
                            .popup-slider__image-descrtiption lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsumlorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsumlorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsumlorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsumlorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsumlorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                        .pages__photos-item.popup-slider__slide.swiper-slide
                            img.popup-slider__image(data-src=`${require('../../images/album-item-2.jpg')}`, alt="Photo")
                            .popup-slider__image-descrtiption lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
