@import "globals/global";

@import "modules/header";
@import "modules/header-mobile";
@import "modules/nav";
@import "modules/nav-mobile";
@import "modules/footer";

@import "components/bg";
@import "components/section";
@import "components/link-social";
@import "components/icon-btn";
@import "components/slider-btn";
@import "components/thumbs";
@import "components/custom-text";
@import "components/slider-progress-bar";

@import "modules/main-slider";
@import "modules/main-news";
@import "modules/main-territory";
@import "modules/main-gallery";
@import "modules/contacts";

.main {
    position: relative;

    @include screen(768) {
        padding-top: 11vw;
    }
    @include screen(575) {
        padding-top: 60px;
    }
}