@import "globals/global";

@import "modules/header";
@import "modules/nav";
@import "modules/footer";

@import "components/bg";
@import "components/link-social";
@import "components/icon-btn";
@import "components/custom-text";
@import "components/contacts";

.museum {

    --column-width: 580px;

    @extend %outer;
    position: relative;

    &__wrapper {
        @extend %wrapper;
    }

    &__header {
        @extend %wrapper;
    }

    &__title {
        margin: 60px 0;
        font-size: 36px;
        text-transform: uppercase;
        text-align: center;
    }

    &__content {
        position: relative;
        margin-bottom: 100px;

        .museum__wrapper {
            @include flex(row,sb,s);
        }
    }

    &__text {
        width: var(--column-width);
    }

    &__regime {
        width: 420px;
        margin-top: -10px;
        margin-bottom: 60px;

        &-row {
            @include flex(row,sb);
            margin-bottom: 20px;
        }

        &-row-centered {
            margin-bottom: 20px;
            text-align: center;
        }
    }

    &__photos {
        @include flex(row,sb);

        &-item {
            @include transition(outline-color outline-offset);
            width: 180px;
            height: 180px;

            outline: 1px solid transparent;
            outline-offset: 0;

            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            cursor: pointer;

            &:hover {
                outline-color: $color3;
                outline-offset: 3px;
            }
        }
    }




    &__image {
        display: block;
        position: absolute;
        width: calc( (100% - 1180px)/2 + var(--column-width) );
        height: 100%;
        right: 0;
        top: 0;

        background-position: center top;
        background-size: contain;
        background-repeat: no-repeat;
    }
}