@import "globals/global";

@import "modules/header";
@import "modules/header-mobile";
@import "modules/nav";
@import "modules/nav-mobile";
@import "modules/footer";
@import "modules/contacts";
@import "modules/popup-slider";

@import "components/section";
@import "components/bg";
@import "components/link-social";
@import "components/icon-btn";
@import "components/custom-text";
@import "components/page-title";
@import "components/slider-btn";


.pages {

    @extend %outer;

    position: relative;

    @include screen(768) {
        padding-top: 11vw;
    }
    @include screen(575) {
        padding-top: 60px;
    }
    
    &__wrapper {
        @extend %wrapper;
        margin-bottom: 80px;

        @include screen(992) {
            margin-bottom: 60px;
        }
        @include screen(768) {
            margin-bottom: 50px;
        }
        @include screen(575) {  
            margin-bottom: 40px;
        }
    }

    &__content {
        color: $light-font-color;
    }


    &__photos {

        position: relative;

        padding: 0 60px;

        @include screen(768) {
            padding: 0;
        }

        &-btn.slider-btn {
            height: 40%;
            top: 30%;

            &.left {
                left: -20px;
            }
            &.right {
                right: -20px;
            }
            &.disabled {
                display: none;
            }
            .icon {
                stroke: $light-font-color;
            }
        }

        &-image.swiper-slide {
            @include transition(filter);

            height: 300px;

            cursor: pointer;

            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;

            &:hover {
                filter: brightness(1.1);
            }
        }
    }

}