@import "globals/global";

@import "modules/header";
@import "modules/nav";
@import "modules/footer";

@import "components/bg";
@import "components/link-social";
@import "components/icon-btn";
@import "components/custom-text";

@import "components/route-stage";
@import "components/main-contacts";


.routes {

    @extend %outer;

    position: relative;

    &__wrapper {
        @extend %wrapper;
    }

    &__title {
        margin: 30px 0;
        font-size: 36px;
        text-transform: uppercase;
    }

    &__content {
        @include flex(row, sb);
        margin-bottom: 100px;
        
    }

    &__column {
        @include flex(col, s, s);
        width: 49%;
    }

    &__description {
        margin-bottom: 30px;
        font-size: 18px;
    }

    &__stages {
        flex-grow: 1;
    }
}