$max-width: 1180px;

//COLORS
$color1: #fff;
$color2: #c4c4c4;
$color3: #4092ce;
$color4: #666;
$color5: #000;


$main-font-color: $color5;
$light-font-color: $color4;
$link-color: $color3;
$bg-color: $color1;
$theme-color: $color3;


// sizes


// fonts
$main-font-family: 'Roboto', sans-serif;
$roboto-72: 72px 'Roboto', sans-serif;
$roboto-48: 48px 'Roboto', sans-serif;
$roboto-36: 36px 'Roboto', sans-serif;
$roboto-24: 24px 'Roboto', sans-serif;
$roboto-18: 18px 'Roboto', sans-serif;
$roboto-14: 14px 'Roboto', sans-serif;
$roboto-12: 12px 'Roboto', sans-serif;


//screen sizes max
$xs: 479px;
$sm: 575px;
$md: 768px;
$lg: 991px;
$xl: 1199px;

//screen sizes min
$xs: 480px;
$sm: 576px;
$md: 769px;
$lg: 992px;
$xl: 1200px;

